{:identity "h8dt7o7x5fiap3j"
 :patch
{:cables
{["1vvwl3slz3zm6df" 0] [:fixed "666lgkd3phk3fir" 0]
 ["2lqlhqxx7qdfnwi" 0] [:fixed "qpzprrt7wu7csaw" 0]
 ["2lqlhqxx7qdfnwi" 1] [:fixed "au5b6fkpulvgx5" 0]
 ["2lqlhqxx7qdfnwi" 2] [:fixed "ikwb4111t8zcefe" 0]
 ["666lgkd3phk3fir" 0] [:fixed "5w6fmpcliu5i80n" 0]
 ["876g9yr25jti6gv" 0] [:fixed "m085d12d28q4ayk" 0]
 ["8nva5348s5wwhk8" 0] [:fixed "g9pee6b0m77bbvt" 0]
 ["8nva5348s5wwhk8" 1] [:fixed "jhh3t1pde8mi5w" 0]
 ["9x17mmmfm6924ut" 0] [:fixed "cgb54m8ybj1wy6" 0]
 ["a3w7s2r0map6v3z" 0] [:fixed "8nva5348s5wwhk8" 0]
 ["au5b6fkpulvgx5" 0] [:fixed "dpn3bpia79lx7xv" 0]
 ["au5b6fkpulvgx5" 1] [:fixed "z27j8w9hs35itg0" 0]
 ["ckz5v265fnk5sjv" 0] [:fixed "2lqlhqxx7qdfnwi" 0]
 ["dpn3bpia79lx7xv" 0] [:fixed "j4ftbi0a127wl0g" 0]
 ["dpn3bpia79lx7xv" 1] [:fixed "k1hn6bv6e12ophw" 0]
 ["g9pee6b0m77bbvt" 0] [:fixed "876g9yr25jti6gv" 0]
 ["ikwb4111t8zcefe" 0] [:fixed "xqt483hjs8hckog" 0]
 ["ikwb4111t8zcefe" 1] [:fixed "7zt3z1pj78n2l6w" 0]
 ["j4ftbi0a127wl0g" 0] [:fixed "zwu7fj8uucwk0vq" 0]
 ["jhh3t1pde8mi5w" 0] [:fixed "tq54iyd03zjo9mo" 0]
 ["k1hn6bv6e12ophw" 0] [:fixed "cgb54m8ybj1wy6" 0]
 ["k1hn6bv6e12ophw" 1] [:fixed "kf9zsb7hcjjewz2" 0]
 ["kf9zsb7hcjjewz2" 0] [:fixed "1vvwl3slz3zm6df" 0]
 ["kf9zsb7hcjjewz2" 1] [:fixed "9x17mmmfm6924ut" 0]
 ["m085d12d28q4ayk" 0] [:fixed "7vddlm9l3cscbnh" 0]
 ["qpzprrt7wu7csaw" 2] [:fixed "5xkzdy7lf340isw" 0]
 ["t1z7sbxoswlfniq" 0] [:fixed "ckz5v265fnk5sjv" 0]
 ["tq54iyd03zjo9mo" 0] [:fixed "kf9zsb7hcjjewz2" 0]
 ["w62q5gcn88onjrb" 1] [:fixed "a3w7s2r0map6v3z" 0]
 ["xqt483hjs8hckog" 0] [:fixed "9sx9mj3tq3hpml6" 0]
 ["xqt483hjs8hckog" 1] [:fixed "ikjbjm6224atxxr" 0]
 ["xqt483hjs8hckog" 2] [:fixed "90md2uucz9g5946" 0]
 ["xqt483hjs8hckog" 3] [:fixed "w62q5gcn88onjrb" 0]
 ["xqt483hjs8hckog" 4] [:fixed "zi2csugw4cvg5mz" 0]}
 :nodes
{"1vvwl3slz3zm6df" 
{:inputs ["sig"]
 :label "Control:Signal($sig)"
 :outputs [""]
 :parsed [:fn "Control:Signal" [:tuple [:free-var "sig"]]]
 :pos [-23 -245]}
 "263mvoll9div4ml" 
{:color 4
 :inputs []
 :label "; Compose a triangular generator with scaling, the percussive envelope driven by the sequencer, and a squared response."
 :outputs []
 :parsed [:comment "Compose a triangular generator with scaling, the percussive envelope driven by the sequencer, and a squared response."]
 :pos [159 287]}
 "2lqlhqxx7qdfnwi" 
{:cable-midpoints 
{2 [20 -47]}
 :inputs ["func" "as" "bs"]
 :label "Algorithm:Zip-With($func $as $bs)"
 :outputs [""]
 :parsed [:fn "Algorithm:Zip-With" [:tuple [:free-var "func"] [:free-var "as"] [:free-var "bs"]]]
 :pos [397 118]}
 "5w6fmpcliu5i80n" 
{:color 3
 :inputs []
 :label "0.25"
 :name "tempo"
 :outputs [""]
 :parsed [:number-widget :float "7mtlic" "0.21895" ""]
 :pos [-322 -245]}
 "5xkzdy7lf340isw" 
{:color 3
 :inputs []
 :label "0 .o 3"
 :name "resonance"
 :outputs [""]
 :parsed [:widget "a3tucv" 0.38 {:type :dial, :skin :circular, :min [:float "0"], :max [:float "3"]}]
 :pos [181 -5]}
 "666lgkd3phk3fir" 
{:inputs ["freq"]
 :label "Gen:Phasor($freq)"
 :outputs [""]
 :parsed [:fn "Gen:Phasor" [:tuple [:free-var "freq"]]]
 :pos [-166 -245]}
 "7vddlm9l3cscbnh" 
{:color 2
 :inputs []
 :label "0.01"
 :outputs [""]
 :parsed [:float "0.01"]
 :pos [-604 42]}
 "7zt3z1pj78n2l6w" 
{:color 4
 :inputs []
 :label "[0.02 0.11 0.09 0.13 0.14]"
 :name "coprime envelope modulation rates"
 :outputs [""]
 :parsed [:list [:float "0.02"] [:float "0.11"] [:float "0.09"] [:float "0.13"] [:float "0.14"]]
 :pos [-235 101]}
 "876g9yr25jti6gv" 
{:color 2
 :inputs ["a"]
 :label "* 0.5"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:float "0.5"]]
 :pos [-383 42]}
 "8nva5348s5wwhk8" 
{:color 2
 :inputs ["a" "b" "more..."]
 :label "-"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:free-var "b"] [:free-var "more..."]]
 :pos [-171 42]}
 "90md2uucz9g5946" 
{:color 4
 :inputs ["a"]
 :label "/ 2"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "2"]]
 :pos [-275 176]}
 "9sx9mj3tq3hpml6" 
{:color 4
 :inputs ["freq"]
 :label "Gen:Tri($freq)"
 :outputs [""]
 :parsed [:fn "Gen:Tri" [:tuple [:free-var "freq"]]]
 :pos [-342 282]}
 "9x17mmmfm6924ut" 
{:inputs ["tuple"]
 :label "Arity($tuple)"
 :outputs [""]
 :parsed [:fn "Arity" [:tuple [:free-var "tuple"]]]
 :pos [9 -128]}
 "a3w7s2r0map6v3z" 
{:color 2
 :inputs ["b"]
 :label "Min(1 $b)"
 :outputs [""]
 :parsed [:fn "Min" [:tuple [:float "1"] [:free-var "b"]]]
 :pos [-47 42]}
 "au5b6fkpulvgx5" 
{:inputs ["sig" "rate"]
 :label "Control:Smooth($sig $rate)"
 :name "portamento"
 :outputs [""]
 :parsed [:fn "Control:Smooth" [:tuple [:free-var "sig"] [:free-var "rate"]]]
 :pos [327 -67]}
 "bdnri8okg3fu5q1" 
{:color 2
 :inputs []
 :label "; Build phasing envelopes from a slowly modulating base cutoff from which the percussive envelope generated by the sequencer is subtracted."
 :outputs []
 :parsed [:comment "Build phasing envelopes from a slowly modulating base cutoff from which the percussive envelope generated by the sequencer is subtracted."]
 :pos [-598 148]}
 "cgb54m8ybj1wy6" 
{:inputs []
 :label "[(-24 2 3 7 10) (-21 3 5 7 10) (-19 5 7 10 12) (-22 2 5 7 10)]"
 :name "chord progression"
 :outputs [""]
 :parsed [:list [:tuple [:float "-24"] [:float "2"] [:float "3"] [:float "7"] [:float "10"]] [:tuple [:float "-21"] [:float "3"] [:float "5"] [:float "7"] [:float "10"]] [:tuple [:float "-19"] [:float "5"] [:float "7"] [:float "10"] [:float "12"]] [:tuple [:float "-22"] [:float "2"] [:float "5"] [:float "7"] [:float "10"]]]
 :pos [-271 -175]}
 "ckz5v265fnk5sjv" 
{:ephemeral-inputs #{"numbers"}
 :inputs ["numbers" "numbers..."]
 :label "Sum($numbers...)"
 :name "mix"
 :outputs [""]
 :parsed [:fn "Sum" [:tuple [:free-var "numbers"] [:free-var "numbers..."]]]
 :pos [512 117]}
 "co038r7zjspoc7s" 
{:inputs []
 :label ";# Moog Vibe #\n\n\nThis patch makes use of the virtual analog basics `DPW` and `Filter-Stage` with a step-sequenced chord and phasing envelopes."
 :outputs []
 :parsed [:comment "# Moog Vibe #\n\n\nThis patch makes use of the virtual analog basics `DPW` and `Filter-Stage` with a step-sequenced chord and phasing envelopes."]
 :pos [406 -347]}
 "dpn3bpia79lx7xv" 
{:cable-midpoints 
{0 [26 70]}
 :ephemeral-inputs #{"set"}
 :flip-y true
 :inputs ["func" "set" "set..."]
 :label "Algorithm:Map($func $set...)"
 :name "pitches"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set"] [:free-var "set..."]]]
 :pos [190 -107]}
 "g9pee6b0m77bbvt" 
{:color 2
 :inputs ["a"]
 :label "+ 1.5"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "1.5"]]
 :pos [-264 42]}
 "ikjbjm6224atxxr" 
{:color 4
 :inputs ["a"]
 :label "+ 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:float "1"]]
 :pos [-318 226]}
 "ikwb4111t8zcefe" 
{:ephemeral-inputs #{"set"}
 :inputs ["func" "set" "set..."]
 :label "Algorithm:Map($func $set...)"
 :name "cutoffs"
 :outputs [""]
 :parsed [:fn "Algorithm:Map" [:tuple [:free-var "func"] [:free-var "set"] [:free-var "set..."]]]
 :pos [18 163]}
 "j4ftbi0a127wl0g" 
{:inputs ["f0" "t"]
 :label "$f0 * Math:Pow(2 $t / 12)"
 :name "semitone -> frequency"
 :outputs [""]
 :parsed [:infix [:free-var "f0"] "*" [:fn "Math:Pow" [:tuple [:float "2"] [:infix [:free-var "t"] "/" [:float "12"]]]]]
 :pos [-10 -321]}
 "jhh3t1pde8mi5w" 
{:color 2
 :inputs ["x"]
 :label "Fraction($x)"
 :outputs [""]
 :parsed [:fn "Fraction" [:tuple [:free-var "x"]]]
 :pos [-326 -8]}
 "k1hn6bv6e12ophw" 
{:cable-midpoints 
{}
 :inputs ["vector" "constant-index"]
 :label "Select($vector $constant-index)"
 :outputs [""]
 :parsed [:fn "Select" [:tuple [:free-var "vector"] [:free-var "constant-index"]]]
 :pos [65 -54]}
 "kf9zsb7hcjjewz2" 
{:flip-y true
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [84 -230]}
 "m085d12d28q4ayk" 
{:color 2
 :inputs ["freq"]
 :label "Gen:Tri($freq)"
 :outputs [""]
 :parsed [:fn "Gen:Tri" [:tuple [:free-var "freq"]]]
 :pos [-512 42]}
 "qpzprrt7wu7csaw" 
{:inputs ["freq" "cutoff" "res"]
 :label "Moog-Voice($freq $cutoff $res)"
 :outputs [""]
 :parsed [:fn "Moog-Voice" [:tuple [:free-var "freq"] [:free-var "cutoff"] [:free-var "res"]]]
 :pos [218 119]}
 "t1z7sbxoswlfniq" 
{:inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [477 6]}
 "tq54iyd03zjo9mo" 
{:cable-midpoints 
{0 [-284 100]}
 :color 2
 :inputs ["a"]
 :label "* 5"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:number-widget :float "y27tk7" "5" ""]]
 :pos [-455 -8]}
 "txhie72qh9q0lhk" 
{:inputs []
 :label ";Finally, `Zip` the cutoff envelopes and pitches with `Moog-Voice`"
 :outputs []
 :parsed [:comment "Finally, `Zip` the cutoff envelopes and pitches with `Moog-Voice`"]
 :pos [341 173]}
 "w62q5gcn88onjrb" 
{:cable-midpoints 
{1 [5 62]}
 :color 4
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [-188 170]}
 "xqt483hjs8hckog" 
{:cable-midpoints 
{5 [9 28]}
 :color 4
 :ephemeral-inputs #{"fns" "fns2" "fns3" "fns4" "fns5"}
 :inputs ["fns" "fns2" "fns3" "fns4" "fns5" "fns..."]
 :label "Function:Pipeline($fns...)"
 :outputs [""]
 :parsed [:fn "Function:Pipeline" [:tuple [:free-var "fns"] [:free-var "fns2"] [:free-var "fns3"] [:free-var "fns4"] [:free-var "fns5"] [:free-var "fns..."]]]
 :pos [-158 282]}
 "z27j8w9hs35itg0" 
{:color 3
 :inputs []
 :label "10"
 :outputs [""]
 :parsed [:number-widget :float "-ono2vo" "3" ""]
 :pos [268 -149]}
 "zi2csugw4cvg5mz" 
{:color 4
 :inputs ["a"]
 :label "$a * $a"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "a"]]
 :pos [-113 182]}
 "zwu7fj8uucwk0vq" 
{:inputs []
 :label "165"
 :outputs [""]
 :parsed [:float "165"]
 :pos [-233 -321]}}
 :scale 1
 :scroll [0 0]}}